doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    script(src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js")
    script(src="/flot/jquery.flot.js")
    script(src="http://198.199.67.216:8000/socket.io/socket.io.js")
    script(data-main="/javascripts/main",src="javascripts/require.js")
    style
      body { padding: 20px }
      .log { background:#222; color: #fff; font-family: monospace; border: 3px inset #ccc; padding: 20px; height: 100%; }
  body
    div.container
        div.row
            div.parsing
              p Current parse time:
              h1 0ms
            br
            div.uniques
              p Unique visitors:
              h1 0
